*.class
*.jar
*.txt
*.yaml
/lab04/EjerciciopPrueba/JavaPlot-0.5.0/build/
*.aux
*.log
*.out
*.gz
build.xml
manifest.mf
nbproject/
test/
/lab06/LaboratorioEDA/nbproject/private/
/lab06/Busquedas/nbproject/private/
